/* Modal.css */
.form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    /* Garante que o modal esteja acima de tudo */
}

.open {
    display: block;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 4rem;
    /* background: transparent; */
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: white !important;
}