.card_container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(205, 179, 231);
    /* width: 100vw; */
    /* height: 150px !important; */
    border-radius: 20px;
    overflow: hidden;
    /* padding: 5rem; */
    height: fit-content;
    border: none;
    align-items: center;
}


.cards_infos_container {
    /* position: absolute; */
    /* left: 6rem; */
    /* top: 6rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 3rem auto; */
    /* flex-grow: 0.5; */
    padding: 2rem;
    justify-content: center;
    z-index: 2;
    color: white;
    min-height: 18rem;
    height: max-content;
    /* background-color: rgb(25, 145, 61); */
}

.Card_carousel_title {
    font-size: clamp(1.2rem, 3.4rem, 1.6rem) !important;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.Card_corousel_subtitle {
    font-size: 1.6rem !important;
    /* width: 70%; */
}

.figure_container {
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* background-color: red; */
    /* flex-grow: 1; */
    /* width: 100%; */
    height: 30rem !important;
    /* max-height: 30em !important; */
    /* right: 0.5%; */
    margin: 0;
}

.card_container img {
    width: 100%;
    height: 100%;
}