/* Modal.css */
.form_overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.747);
    z-index: 1000;
    /* display: none; */
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.modalOpen {
    /* filter: blur(1px); */
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: visible; */
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 5%;
    /* background: transparent; */
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: white !important;
}