header {
    width: 100vw;
}

.top_navbar {
    display: flex;
    justify-content: space-between;
    height: 5.6rem;
    align-items: center;
    width: 100vw;
    padding: 0px 1rem;
    background-color: var(--menu_color);
}

.lateral_navBar {
    display: flex;
    position: fixed;
    top: 0px;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 25rem;
    background-color: var(--menu_color);
    /* width: 0px; */
    overflow-x: hidden;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(-100%);
}

.open {
    /* width: 25rem; */
    transform: translateX(0%);
}

.top-menu-content {
    display: flex;

}

.logo-top-menu {
    width: 10rem;
}

.lateral-logo {
    width: 2.4rem;
}

.logo-top-menu img,
.lateral-logo img {
    width: 100%;
}

.search_input {
    display: inline-flex;
    position: relative;
    width: 2.4rem;
    /* background-color: rebeccapurple; */
}

.search_input input,
.search_input button {
    height: 3.2rem;

}

.search_input input {
    width: 0px;
    border: none;
}

.search_input button {
    display: flex;
    position: absolute;
    right: 0px;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px;
}

.search_input button:hover {
    background-color: #f3f2f2;
    padding: 5px;
    border-radius: 50%;
}

.logo_and_icon_container {
    display: flex;
    height: 5.6rem;
    align-items: center;
    justify-content: space-between;
}

.menu_icon:last-child {
    padding: var(--padding_icon);
}

.menu_title_container,
.menu_acccount_container {
    margin: 0rem 1.6rem;
}


.title_lateral_menu {
    display: block;
    padding: 0rem 0rem 1.6rem 0rem;
    font-size: 1.2rem;
    color: var(--cor-texto-e-icon);
    font-weight: 600;
}

.li_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-grow: 1; */
    padding: 0px;
    /* height: 70%; */
    row-gap: 0.4rem;
}

.li_container a li {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: thistle;
    height: 4.4rem;
}

.li_container a {
    color: var(--cor-principal);
    text-decoration: none;
}


.li_container a li p {
    white-space: nowrap;
    font-size: 1.6rem !important;
}

.li_container .list-icon {
    color: var(--cor-texto-e-icon);
    margin: 1.2rem;
    font-size: 2rem;
    padding: 0px;
}

.line_and_title_menu {
    margin: 0px 1.6rem;
}

.buttons_container {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.buttons_container button {
    padding: 1.2rem 0rem;
}

.menu_piece {
    flex-grow: 1;
}

.navBar_footer {
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
}