header {
    width: 100vw;
}

/* Menu general configs*/

.top_navbar {
    display: flex;
    justify-content: space-between;
    height: 5.6rem;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    background-color: var(--menu_color);
    /* margin: 0 auto; */
    /* background-color: rgb(101, 247, 33); */
}

.lateral_navBar {
    display: flex;
    position: fixed;
    top: 0px;
    flex-direction: column;
    justify-content: space-between !important;
    height: 100vh;
    width: 25rem;
    background-color: var(--menu_color);
    /* width: 0px; */
    overflow: hidden !important;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        width 0.4s 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(-100%);
    z-index: 10;

}

.open {
    /* width: 25rem; */
    transform: translateX(0%);
}

.menu_icon {
    z-index: 6;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo preto semitransparente */
    z-index: 3;
    /* Deve estar atrás do menu lateral */
    display: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* Oculto por padrão */
}


.showOverlay {
    z-index: 3;
    opacity: 1;
    display: block;
}

/* Menu bar configs */

.top-menu-content {
    display: flex;
    /* background-color: rgba(224, 228, 21, 0.342); */
}

.logo-top-menu {
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--lateral-menu-width));
    margin-left: 6.6rem !important;
    padding: 0rem 5rem 0rem 2.8rem;
}


.lateral-logo {
    width: 2.4rem;
}

.logo-top-menu img,
.lateral-logo img {
    width: 100%;
}

.menu_icon {
    user-select: none;
}

.menu_icon:last-child {
    padding: var(--padding_icon);
    padding-bottom: 1.6rem;
}

.menu_title_container,
.menu_acccount_container,
.search_input input {
    margin: 0rem 1.6rem;
}


/* Input de busca Side Menu */

.search_input {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: 1.6rem 0rem;
    /* background-color: rebeccapurple; */
}

.search_input input,
.search_input button {
    height: 3.2rem;

}

.search_input input {
    position: relative;
    display: inline-flex;
    width: 100% !important;
    border: none;
    background-color: white;
    border-radius: var(--border-Radius);
    padding-left: 4.2rem;
    opacity: 1;
    transition: var(--opacity_transition);
}

.hideInput {
    opacity: 0 !important;
    transition: opacity 0.4s 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search_input input::placeholder {
    display: flex;
    align-items: center;
    /* display: inline-flex; */
    /* padding-left: 1.2rem; */
    font-size: 1.4rem;
    font-weight: 500;
}


.search_input button {
    display: flex;
    position: absolute;
    left: 1.2rem;
    margin: 0rem 1.2rem;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px;
}

.search_input button:hover {
    background-color: #f3f2f2;
    padding: 5px;
    border-radius: 50%;
}


/* Titulos menu */

.title_lateral_menu {
    display: block;
    /* padding: 0rem 0rem 1.6rem 0rem; */
    font-size: 1.2rem;
    color: var(--cor-texto-e-icon);
    font-weight: 600;
}

.li_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-grow: 1; */
    padding: 0px;
    /* height: 70%; */
    row-gap: 0.8rem;
}

.li_container a li {
    list-style: none;
    display: flex;
    align-items: center;
    /* background-color: var(--cor-principal); */
    height: 4.4rem;
    border-radius: var(--border-Radius);
    /* row-gap: 1rem; */
}

.li_container a li:hover {
    background-color: var(--cor-destaque-hover);
}

.li_container a li p {
    color: var(--cor-texto-e-icon) !important;
    font-weight: 500;
    /* opacity: 1 !important; */
}

.li_container a li:hover>p,
.li_container a li:hover>span {
    color: white !important;
}

.li_container a {
    color: var(--cor-texto-e-icon);
    text-decoration: none;
}


.li_container a li p {
    white-space: nowrap;
    font-size: clamp(1.2rem, var(--side-menu-font-size), 1.8rem) !important;
}

.li_container .list-icon {
    color: var(--cor-texto-e-icon);
    margin: 1.2rem;
    font-size: 2rem;
    padding: 0px;
}

.line_and_title_menu {
    margin: 0px 1.6rem;
}

.buttons_container {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.buttons_container button {
    display: inline-flex;
    position: relative;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    padding: 1rem 0rem;
    border-radius: var(--border-Radius);
    border: none;
    font-size: 1.2rem !important;
    white-space: nowrap;
}

.buttons_container button:last-child:hover {
    background-color: var(--button_hover_color);
}

.buttons_container button p {
    font-size: 1.2rem !important;
    white-space: nowrap;
    width: auto;
}


.marginIcon {
    left: 20%;
}

.button span {
    left: 18%;
    /* color: red !important; */
}

.button-signUp span {
    /* left: 18%; */
    color: rgb(255, 255, 255) !important;
}

.buttonIcon {
    z-index: 4 !important;
    position: absolute;
    left: 20%;
    color: white;
    transition: color 0.1s 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* color: white; */
    /* opacity: 0.4; */
    /* text-align: center !important; */
}

.buttons_container button:last-child {
    background-color: var(--cor-destaque);
    color: white;
}

.menu_piece {
    flex-grow: 1;
}


.navBar_footer {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* white-space: nowrap; */
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    /* background-color: violet; */

}

.navBar_footer span {
    font-size: clamp(0.6rem, 1rem, 1.6rem);
    text-align: center;
    margin-right: 0.3rem;
}

.navBar_footer p {
    font-size: clamp(0.6rem, 0.9rem, 1.6rem) !important;
    text-align: center;
    width: auto;
}