.title_category {
    /* color: red; */
    margin: var(--margin-lg) 0rem;
}

.title_category h2 {
    /* margin: var(--margin-xs) 0rem; */
    text-transform: capitalize;
    font-weight: 400;
}

.produtos_container div,
.produtos_container_admin div {
    background-color: var(--cor-fundo-menu);
}

.produto_card {
    /* margin: 0 auto; */
    padding: 1rem;
    width: 100%;
    border-radius: var(--border-Radius);
    height: fit-content;
    transition: all 0.2s ease-in-out;
}

.produto_card:hover {
    /* transform: scale(1); */
    /* transition: all 0.2s ease-in-out; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* background-color: red; */
}

.produto_card figure {
    position: relative;
    margin: 0;
}

.favorite_icon {
    /* color: yellow !important; */
    opacity: 0;
    position: absolute;
    right: 0.8rem;
    /* top: 0.5rem; */
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    user-select: none;
}

.produtos_container>div:hover>figure>span {
    color: rgb(248, 248, 248) !important;
    border-radius: 50%;
    opacity: 1;
}

.produtos_container>div:hover>figure>span:hover {
    color: rgb(255, 231, 20) !important;
    border-radius: 50%;
    opacity: 1;
}


.produto_card figure img {
    width: 100%;
    border-radius: calc(var(--border-Radius) - 4px);
}

.dish_name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    cursor: pointer;
    padding-top: 0.5rem;
    font-size: 1.4rem !important;
}

.showFullName {
    overflow: none;
    white-space: wrap;
    text-overflow: none;
}

.ingredient_container {
    display: flex;
    justify-content: space-between;
}

.ingredient_container .ingredient {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #727272;
    padding: 0.5rem 0rem;
}

.ingredient_container .showIngredient {
    overflow: hidden;
    white-space: wrap;
    text-overflow: clip;
}

.ingredient_container .arrow_icon {
    padding-top: 0.4rem;
    transform: rotateZ(0deg);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.produto_price {
    color: var(--cor-principal);
    /* background-color: red; */
    font-weight: 600;

}

.price_and_cart_container {
    display: flex;
    align-items: center;
    padding: var(--margin-xxs);
}

.price_and_cart_container button {
    width: 30%;
    border: none;
    /* background-color: var(--cor-texto-e-icon); */
    border-radius: var(--border-Radius);
}

.price_and_cart_container button:hover {
    width: 30%;
    border: none;
    background-color: var(--cor-principal);
    border-radius: var(--border-Radius);
}

.price_and_cart_container button span {
    font-size: 2rem;
    color: var(--cor-principal);
}

.price_and_cart_container button:hover>span {
    color: white;
}