html {
    /* width: 100vw; */
    font-size: 62.5%;
    min-height: 100vh;
    /* background-color: rgb(43, 117, 49); */
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden !important;
    /* width: 100vw; */
    background-color: var(--background-color) !important;
}