/* Estilos Globais */

:root {

    /* Colors */
    --menu_color: #F5F5F5;
    --padding_icon: 1.6rem;

    --logoFont: "Agbalumo", system-ui;

    /* Cores da Paleta de Delivery */

    /* Cor Principal para Botões e Chamadas de Ação */
    --cor-principal: #4CAF50;
    --cor-principal-hover: #4caf4f9f;
    /* Verde Folha */

    /* Cor de Destaque para Detalhes e Promoções */
    --cor-destaque: #F27127;
    --cor-destaque-hover: #FF8A47;
    --click: #D85D1C;
    /* Laranja Vibrante */

    /* Cor de Fundo para o Menu Lateral e Áreas de Fundo */
    --cor-fundo-menu: #F5F5F5;
    /* Branco Suave (White Smoke) */

    /* Cor do Texto Principal */
    --cor-texto-principal: #333333;
    /* Cinza Escuro */

    /* Cor do Texto Secundário e Ícones */
    --cor-texto-e-icon: #5C5C5C;
    /* Cinza Médio */


    /* Tamanho das fontes */

    --side-menu-font-size: 1.4rem;

    --border-Radius: 8px;
    --lateral-menu-width: 7.6rem;

    --opacity_transition: opacity 0.4s 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

    --slide_container_size: 25rem
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


section {
    margin-top: 20px;
}

p {
    font-size: 1.6em !important;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a {
    font-size: 1.6em !important;
}

.material-symbols-outlined {
    color: var(--cor-texto-e-icon);
}

hr {
    width: 100%;
    margin: 2rem auto;
    color: #b6b6b6;
}

.hideTextMenu {
    /* visibility: hidden; */
    opacity: 0 !important;
    /* display: none; */
    transition: var(--opacity_transition);
}

.showTextMenu {
    transition: var(--opacity_transition);
    opacity: 1;
}

.section_container {
    width: calc(100% - var(--lateral-menu-width));
    margin: 0 0 0 var(--lateral-menu-width);
    transition: all 0.7s ease;
    padding: 1rem 4.8rem;
}

.search-top-menu {
    width: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
}


.input-iconSearch-container {
    position: relative;
    display: flex;
    width: 100%;
    /* background-color: teal; */
}

.search-top-menu input {
    /* padding: 1.5rem; */
    border-radius: 10px;
    padding-left: 4.5rem;
}

.search-top-menu input::placeholder {
    font-size: 1.6rem;
    /* display: flex; */
}

.button-style {
    display: flex;
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: var(--border-Radius);
    border: none;
    background-color: var(--cor-destaque);
}

.scroll-bar::-webkit-scrollbar {
    width: 0.8rem;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}


/* Estilos para telas grandes (desktops) */
@media (min-width: 1200px) {


    .sideMenu_content .search_input {
        display: none;
    }

    .top_navbar img[src='logo.svg'] {
        display: none !important;
    }

    .overlay {
        display: none !important;
    }

    .narrow_lateral_navBar {
        display: flex;
        height: 100vh;
        width: var(--lateral-menu-width) !important;
        transform: translateX(0%);
        /* transition: width 0.9s all; */

    }

    .logo_and_icon_container {
        margin: 1.6rem 0rem 0rem 0rem;
    }

    .narrow_lateral_navBar:hover {
        display: flex;
        height: 100vh;
        width: 25rem !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* .logo_and_icon_container {
        margin: 1.6rem 0rem;
    } */

    .title_lateral_menu {
        opacity: 0;
    }

    .menu_icon {
        display: none;
    }

    .myShoppingCard_container {
        width: 32rem;
        padding: 2rem;
    }

}


/* Estilos para telas médias (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {

    .overlay {
        display: none !important;
    }

    .menu_icon:last-child {
        display: none;
    }

    .search-top-menu {
        width: 60%;
    }


    .top_navbar img {
        display: none !important;
    }

    .narrow_lateral_navBar {
        display: flex;
        height: 100vh;
        width: var(--lateral-menu-width) !important;
        /* transition: width 0.5s all; */
        transform: translateX(0%);

    }

    .logo_and_icon_container {
        padding: 2rem 0rem;
    }

    .narrow_lateral_navBar:hover {
        display: flex;
        height: 100vh;
        width: 25rem !important;

    }

    .title_lateral_menu {
        display: none;
    }

    .menu_icon {
        display: none;
    }

    .cards_infos_container .Card_carousel_title {
        font-size: 1.7rem !important;
        width: 100%;
    }


}

/* Estilos para telas pequenas (smartphones) */
@media (max-width: 767px) {
    .logo_container {
        display: none;
    }

    .section_container {
        width: 100% !important;
        margin: 0;
        padding: 1rem 1.5rem;
        /* background-color: slateblue !important; */
    }

    .input-iconSearch-container {
        display: none;
    }

    .top_navbar {
        display: flex;
        justify-content: space-between;
        height: 5.6rem;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: var(--menu_color);
        /* margin: 0 auto; */
        /* background-color: rgb(101, 247, 33); */
    }


    .search-top-menu {
        opacity: 0 !important;
    }

    .logo-top-menu {
        /* margin: 0 auto; */
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin-left: 0rem !important;
        padding: 0rem 0dvh 0rem 0rem;
        /* background-color: rgba(255, 216, 216, 0.932); */
    }

    .logo-top-menu .search-top-menu {
        display: none;
    }

    .slick-list {
        height: var(--slide_container_size) !important;
    }

    .figure_container {
        /* flex-grow: 1; */
        /* margin: 3rem auto; */
        width: 100%;
        height: var(--slide_container_size) !important;

    }

    .cards_infos_container .Card_carousel_title {
        font-size: 3rem !important;
        width: 100%;
    }

    .Card_corousel_subtitle {
        font-size: 1.3rem !important;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.774);
        /* display: none; */
    }



}

/* Estilos para telas muito pequenas (smartphones em modo retrato) */
@media (max-width: 480px) {

    .section_container {
        width: 100%;
        margin: 0;
        padding: 1rem 0.8rem;
        /* background-color: slateblue !important; */
    }

    /* .search-top-menu {
        display: none !important;
    } */


    .lateral_navBar {
        overflow: scroll;
    }

    .logo_container {
        display: none;
    }

    .input-iconSearch-container {
        display: none;
    }

    .slick-list {
        height: 18rem !important;
    }

    .figure_container {
        /* margin: 3rem auto; */
        width: 140vw;
        height: 18rem !important;

    }

    .cards_infos_container {
        height: fit-content !important;
        /* padding: 2rem; */
        /* width: 76%; */
        height: fit-content;
        /* flex-grow: 2; */
    }

    .cards_infos_container .Card_carousel_title {
        font-size: 1.5rem !important;
        width: 100%;
    }

    .Card_corousel_subtitle {
        font-size: 1rem !important;
        /* content: 'hoje é dia de ' !important; */
    }


}

@media (orientation: landscape) {

    .lateral_navBar {
        display: flex;
        position: fixed;
        top: 0px;
        flex-direction: column;
        justify-content: space-between !important;
        height: 100vh;
        width: 25rem;
        overflow-y: scroll;
    }

    .lateral_navBar::-webkit-scrollbar {
        width: 0.8rem;
    }

    .lateral_navBar::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 8px;
    }

    .lateral_navBar::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
        border: 2px solid #f1f1f1;
    }

    .lateral_navBar::-webkit-scrollbar-thumb:hover {
        background-color: #b3b3b3;
    }


}