

/* Estilos Globais */
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

 


/* Estilos para telas grandes (desktops) */
@media (min-width: 1200px) {
  
}

/* Estilos para telas médias (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  
}

/* Estilos para telas pequenas (smartphones) */
/* @media (max-width: 767px) {
  body {
      font-size: 14px;
  }
  .container {
      padding: 0 10px;
  }
  .header {
      font-size: 1.25rem;
  }
  .main-content {
      display: block;
  }
  .sidebar,
  .content {
      width: 100%;
      margin-bottom: 10px;
  }
} */

/* Estilos para telas muito pequenas (smartphones em modo retrato) */
/* @media (max-width: 480px) {
  .header {
      font-size: 1rem;
  }
  .container {
      padding: 0 5px;
  }
  .main-content {
      padding: 0;
  }
} */
